@import "mobile.css";

html {
  width: 100%;
  height: 100%;
}

@keyframes bgImageAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  padding: 10px 40px 0 40px;
  user-select: none;
  animation: bgImageAnimation 0.5s linear;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header .header__title {
  margin-top: 30px;
}

.header .weather {
  margin-top: 35px;
}

.header .form {
  margin-top: 40px;
}

.header .form input {
  padding: 0.8em 0.5em;
  border-radius: 5px;
}

.header .userId {
  margin-top: 40px;
}

.header .userId font:hover {
  color: white;
}
.header .selectTheme {
  margin-top: 43px;
  height: 0px;
  padding: 0em 0.7em 1.3em 0.7em;
  border: 1px solid black;
  border-radius: 5px;
}

.main ul {
  list-style: none;
  padding: 0;
}

.completedContainer .completed {
  padding: 0.2em 0.3em;
  border-radius: 5px;
}

.addTask {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px 40px 30px 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  z-index: 999;
}

.addTask form {
  padding: 0.8em 0.8em;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.addTask input {
  width: 100%;
  border: none;
  outline: none;
  margin-left: 10px;
}
.addTask input::placeholder {
  color: white;
}
.addTask input:focus::placeholder {
  color: transparent;
}

.colorUp {
  background-color: black;
  color: white;
  border: 1px solid black;
  opacity: 0.9;
}
.colorUp:hover {
  opacity: 1;
}

/* js 관련 */
.form,
.main,
.completedContainer,
.js-weather {
  display: none;
}

.showing {
  display: block;
}

.unshowing {
  display: none;
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.task {
  background-color: white;
  padding: 0.8em 0.8em;
  margin-bottom: 1px;
  border: 1px solid black;
  border-radius: 5px;
}
.task:hover {
  background-color: rgb(230, 230, 230);
}

.task span {
  margin-left: 10px;
}
